@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Pre-Interview Assignment</h1>
</div>

<div>
    <a asp-controller="Employees" asp-action="Index">Company Employees Page</a>
</div>
<div>
    <a asp-controller="EmployeeTasks" asp-action="Index">Company Employee Tasks Page</a>
</div>